<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "1.0.0" >

      <name>testApp4</name>

      <description>
          An example for mobile_cloud-web template.
      </description>

      <author href="https://build.phonegap.com" email="example@gmail.com">
          nemesis8051
      </author>

      <content src="index.html"/>

      <platform name="android" />

  </widget>
